{{#extends 'base'}}
{{#block 'content'}}

<table class="table">
    <thread>
        <tr>
            <th>
                Name
            </th>
            <th>
                Cost
            </th>
            <th>
                Description
            </th>
        </tr>
    </thread>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </tbody>




</table>
{{/block}}
{{/extends}}